* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0 auto;
  padding-top: 20px;
  color: #000;
  font-size: 32px;
}

h2 {
  padding-left: 20px;
  margin-top: 70px;
  color: black;
  font-size: 22px;
}

.title {
  font-size: 19px;
  font-weight: bold;
}

body {
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.result {
  font-size: 22px;
  color: black;
  border: 1px solid black;
  margin: 20px;
}

.result p:nth-child(2) {
  background: lightgrey;
}

.results {
  flex-direction: column;
  display: flex;
}

.results h4,
p {
  padding: 5px;
}

.rating,
.tags {
  font-size: 17px;
  color: #000;
}

.loader {
  margin: 50px 50px;
  border: 16px solid white;
  border-top: 16px solid blue;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  padding: 5px 10px;
  border: 2px solid darkred;
  color: darkred;
  background: rgba(255, 0, 0, 0.1);
}
